.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.current {
    position: absolute;
    // top: 40%;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
}

ion-item.item {
    color: black !important;
}